.apresentation {
  max-height: 600px;

  margin-top: 65px;

  text-align: center;
  user-select: none;
}

.subtitle_1_spc {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: -1rem;
}

.subtitle_1 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: -1rem;
}

.title_1 {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: -1rem;
  color: #5429cc;
}

.subtitle_2 {
  margin-left: 10px;
  font-size: 23px;
  letter-spacing: 14.5px;
  font-family: "Chivo Mono", monospace !important;
  color: #33cc95;
}

.imageFront {
  width: 300px;
  margin: 1rem;
}
