@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Barrio;
  src: url(../);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  font-family: "Prompt", sans-serif !important;
}

a {
  text-decoration: none !important;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.menuTopBar {
  box-sizing: border-box;

  position: absolute;
  width: 100vw;
  min-height: 4.5rem;
  max-height: auto;
  left: 0px;
  top: 0px;

  background: #000000;
  border-bottom: 0.08rem solid #5429cc;
}

.menuTopBarArea {
  margin: 0 auto;
  max-width: 600px;
  height: 4rem;

  align-items: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-row-gap: 1em;
}

.menuButton {
  cursor: pointer;

  border-radius: 50px;
  color: white;
  display: flex;
  max-width: 7rem;
  height: 45%;
  padding: 0rem 2rem;

  align-items: center;
  font-size: 0.8rem;

  border: 0.08rem solid #33cc95;
  margin: 0rem auto;

  transition: 0.2s;
  white-space: nowrap;
  user-select: none;
}

.menuButton:hover {
  transform: scale(1.03);
}

.iconButtonMenu {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}

.bodyPage {
  padding-top: 4.5rem;
  margin: 0 auto;

  width: 70vw;
  max-width: 70rem;
  height: calc(100% - 4.5rem);

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.apresentation {
  text-align: center;
  user-select: none;
}

.subtitle_1 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: -1rem;
}

.subtitle_2 {
  margin-left: 10px;
  font-size: 23px;
  letter-spacing: 11px;
  font-family: "Chivo Mono", monospace !important;
  color: #33cc95;
}

.title_1 {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: -1rem;
  color: #5429cc;
}

.imageFront {
  width: 23vw;
  margin: 2rem;
}

@media (max-width: 500px) {
  .menuTopBarArea {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-row-gap: 1em;
  }
}
