.menuButton {
  cursor: pointer;

  border-radius: 50px;
  color: white;
  display: flex;
  max-width: 7rem;
  height: 45%;
  padding: 0.1rem 2rem;

  align-items: center;
  text-align: center;

  border: 0.08rem solid #33cc95;
  margin: 0rem auto;

  transition: 0.2s;
  white-space: nowrap;
  user-select: none;
}

.menuButton:hover,
.menuButton:focus {
  background: #33cc95;
  transform: scale(1.06);
}

.iconButtonMenu {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}
