
.titleOfSection {
    font-size: 2.2rem;
    font-weight: 600;

    margin: 2rem;

    color: #5429cc;
}

.secondaryTitleOfSection {
    font-size: 1.8rem;
    font-weight: 600;

    margin-top: 3rem;
    margin-bottom: 0.5rem;

    color: #5429cc;
}

.secondaryTitleOfSectionSftS {
    @extend .secondaryTitleOfSection;
    margin-top: 2rem;
}

.abotMeResume {
    margin: 0 auto;
    width: 60vw;
    max-width: 50rem;
}

.cardOfSkills {
    background: rgba( 255, 255, 255, 0.080 );
    backdrop-filter: blur( 15px );
    border-radius: 10px;

    margin: 0 auto;
    width: 60vw;
    max-width: 50rem;
    padding: 1rem;

    display: flex;
   justify-content: center;


   p {
    font-size: 0.8rem;
    margin: 0rem 0.7rem;
   }
}

.iconSkill {
    font-size: 3rem;

    margin: 1.3rem;
}

.iconHardSkill {
    width: 2.8rem;

    margin: 0rem 1.3rem;
}